<app-header></app-header>
<div class="sub_header">
  <div class="row">
    <div class="col-lg-4 col-md-3 col-sm-4 col-xs-12" style="padding: 0px 0px;">
      <a>
        <img routerLink='/blogdetails' src="../../../assets/images/blog/blog-img/bl.jpg" style="width:100%; height: 250px;">
      </a>
    </div>
    <div class="col-lg-8 col-md-6 col-sm-4 col-xs-12" style="background-color: whitesmoke">
      <div class="header_inner" style="text-align:center;">
        <nav class="header-inner" style="display: block;">
            <a class="header_items">
              HOME
            </a>
            <span class="separator" style="padding:0px 10px;">
              <i class="fa fa-angle-right"></i>
            </span>
            <a class="header_items">
              BLOG DETAILS
            </a>
        </nav>
      </div>
    </div>
  </div>
</div>


<section class="blog_details">
  <div class="container">
    <div class="row" style="margin-top: 90px;">
      <div class="col-xs-12 col-lg-12">
        <div class="bl_img">
          <img src="../../../assets/images/blog/big-images/1.jpg" style="width:100%">
        </div>
        <div class="bl_dtl">
          <p style="margin-top:30px;">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example,</p>


          <p>which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?”</p>

          <blockquote>
            
            No one rejects, dislikes, or avoids pleasure itself, because it pleasure, but because those who do not know how to pursue pleasure ratinally encounter consequences that are.But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. 
                                
          </blockquote>

          <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>

          <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>

          <div class="row">
            <div class="col-lg-6">
              <div class="bl_md_img">
                <img src="../../../assets/images/blog/md-img/s1.jpg">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="bl_md_img">
                <img src="../../../assets/images/blog/md-img/s2.jpg">
              </div>
            </div>

          </div>

          <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>

          <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>


        </div>

        <div class="comment_area">
          <h4 class="title_line_5">HAVE 2 COMMENTS</h4>
          <div class="comment_content">
            <div class="comment">
              <div class="com_img">
                <img src="../../../assets/images/comment/1.png" style="max-width: 100%; transition: all 0.3s ease-out 0s;" >
              </div>
              <div class="com_dtl" style="width:100%;">
                <div class="com_title" >
                  <h2>JHON NGUYEN</h2>
                  <div class="reply_btn">
                    <a>Reply</a>
                  </div>
                </div>
                <span>July 15, 2016 at 2:39 am</span>

                <p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed.</p>
              </div>
            </div>

            <div class="comment comment_reply">
              <div class="com_img">
                <img src="../../../assets/images/comment/2.png">
              </div>
              <div class="com_dtl" style="width:100%;">
                <div class="com_title" >
                  <h2>JHON NGUYEN</h2>
                  <div class="reply_btn">
                    <a>Reply</a>
                  </div>
                </div>
                <span>July 15, 2016 at 2:39 am</span>

                <p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed.</p>
              </div>
            </div>

            <div class="comment">
              <div class="com_img">
                <img src="../../../assets/images/comment/3.png" style="max-width: 100%; transition: all 0.3s ease-out 0s;" >
              </div>
              <div class="com_dtl" style="width:100%;">
                <div class="com_title" >
                  <h2>JHON NGUYEN</h2>
                  <div class="reply_btn">
                    <a>Reply</a>
                  </div>
                </div>
                <span>July 15, 2016 at 2:39 am</span>

                <p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed.</p>
              </div>
            </div>

          </div>
        </div>

        <div class="comment_form">
          <h4 class="title_line_5">Leave a Comment</h4>
          <div class="comment_form_inner">
            <div class="com_form">
              <input type="text" placeholder="*Name">
              <input type="email" placeholder="*Email">
              <input type="text" placeholder="*Website">
            </div>
            <div class="com_form message">
              <textarea name="message" id="" cols="30" rows="10" placeholder="Your Comment"></textarea>
            </div>
          </div>
        </div>

        <div class="comment_btn" style="margin-top:20px;">
          <a>Send</a>
        </div>

      </div>
    </div>
  </div>
</section>

<div class="mt--40" style="margin-top:90px;"></div>


<app-footer></app-footer>










