 p {    
    font-family: 'Old Standard TT', serif;
    color: #666666;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.bl_dtl p {
    color: #666666;
    font-size: 16px;
    line-height: 26px;
}

.bl_dtl p + p {
    margin-top: 26px;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}

.bl_dtl blockquote {
    border-left: 0;
    font-size: 17.5px;
    margin: 0 0 20px;
    padding: 10px 20px;
    background: #c43b68;
    color: #fff;
    margin-top: 20px;
    padding: 27px 34px;
}

.bl_md_img {
    margin-top: 30px;
    margin-bottom: 30px;
}

.bl_md_img img {
    width:100%;
}

.title_line_5 {
    color: #333333;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 39px;
}

.comment {
    display: flex;
}

.com_img {
    margin-right: 30px;
    min-width: 70px;
}

.com_title h2 {
    color: #333333;
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
    margin: 0;
    text-transform: uppercase;
}

.reply_btn a {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 4px;
    color: #333333;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    height: 30px;
    line-height: 28px;
    padding: 0 20px;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
}

.com_title {
    display: flex;
    justify-content: space-between;
}

.com_dtl span {

    color: #949494;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.com_dtl p {
    color: #333333;
    font-size: 16px;
}

.comment.comment_reply {
    margin-bottom: 47px;
    margin-left: 110px;
    margin-top: 47px;
}

.comment_form_inner {
    display: flex;
    margin-left: -20px;
    margin-right: -20px;
}

.com_form {
    padding: 0 20px;
    width: 50%;
}

.com_form input {
    border: 1px solid #e2e2e2;
    color: #666666;
    font-size: 16px;
    height: 40px;
    padding: 0 20px;
    width:100%;
}

.com_form input + input {
    margin-top: 20px;
}

.com_form.message textarea {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #e2e2e2;
    /* min-height: 160px; */
    padding: 10px 20px;
    width: 100%;
    height: 160px;
}

.comment_btn a {
    background: #c43b68 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-family: Poppins;
    font-size: 15px;
    height: 50px;
    line-height: 50px;
    padding: 0 36px;
    transition: 0.3s
}

.sub_header {
    margin-top: 110px;
}
.sub_header_wrap {
    align-items: center;
    display: flex;
    height: 270px;
}

.header_inner .header_items {
    color: #494949;
    font-family: "Poppins",sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}

.header_inner .header-inner a:hover {
    color: #c43b68;
}

.header-inner {
    margin-top: 110px;
}
















