<div class="header fixed-top" style="padding: 5px 0px;">
    <div class="row" >
      <div class="col-md-2">
        <div class="logo">
          <a href="index.html"><img src="../../../../assets/images/logo/4.png" alt="logo images"></a>
        </div>
      </div>
      <div class="col-md-7">
        <nav class="navbar navbar-expand-sm justify-content-center fixed-top " >
          <ul class="navbar-name main__menu" style="padding-top: 15px;">
            <li class="navbar-item"><a routerLink="/home">HOME</a></li>
            <li class="navbar-item drop "><a>WOMEN</a>
              <ul class="dropdown mega_dropdown">
                <!-- Start Single Mega MEnu -->
                <li><a class="mega__title" href="product-grid.html">Shop Pages</a>
                    <ul class="mega__item">
                        <li><a href="product-grid.html">Product Grid</a></li>
                        <li><a href="cart.html">cart</a></li>
                        <li><a href="checkout.html">checkout</a></li>
                        <li><a href="wishlist.html">wishlist</a></li>
                    </ul>
                </li>
                <!-- End Single Mega MEnu -->
                <!-- Start Single Mega MEnu -->
                <li><a class="mega__title" href="product-grid.html">Variable Product</a>
                    <ul class="mega__item">
                        <li><a href="#">Category</a></li>
                        <li><a href="#">My Account</a></li>
                        <li><a href="wishlist.html">Wishlist</a></li>
                        <li><a href="cart.html">Shopping Cart</a></li>
                        <li><a href="checkout.html">Checkout</a></li>
                    </ul>
                </li>
                <!-- End Single Mega MEnu -->
            </ul>
          </li>
            <li class="navbar-item drop"><a>MEN</a>
              <ul class="dropdown mega_dropdown">
                <!-- Start Single Mega MEnu -->
                <li><a class="mega__title" href="product-grid.html">Shop Pages</a>
                    <ul class="mega__item">
                        <li><a href="product-grid.html">Product Grid</a></li>
                        <li><a href="cart.html">cart</a></li>
                        <li><a href="checkout.html">checkout</a></li>
                        <li><a href="wishlist.html">wishlist</a></li>
                    </ul>
                </li>
                <!-- End Single Mega MEnu -->
                <!-- Start Single Mega MEnu -->
                <li><a class="mega__title" href="product-grid.html">Variable Product</a>
                    <ul class="mega__item">
                        <li><a href="#">Category</a></li>
                        <li><a href="#">My Account</a></li>
                        <li><a href="wishlist.html">Wishlist</a></li>
                        <li><a href="cart.html">Shopping Cart</a></li>
                        <li><a href="checkout.html">Checkout</a></li>
                    </ul>
                </li>
                <!-- End Single Mega MEnu -->
            </ul>
            </li>
            <li class="navbar-item drop"><a>PRODUCT</a>
              <ul class="dropdown mega_dropdown">
                <li><a routerLink='/product'>Product Grid</a></li>
                <li><a routerLink='/productdetails'>Product Details</a></li>
            </ul>
            </li>
            <li class="navbar-item drop"><a>BLOGS</a>
              <ul class="dropdown">
                <li><a routerLink='/blog'>Blog Grid</a></li>
                <li><a routerLink='/blogdetails'>Blog Details</a></li>
            </ul>
            </li>
            <li class="navbar-item drop"><a>PAGES</a>
              <ul class="dropdown">
                <li><a routerLink='/cart'>Cart</a></li>
                <li><a routerLink='/checkout'>Checkout</a></li>
                <li><a routerLink='/wishlist'>Wishlist</a></li>
            </ul>
            </li>
            <li class="navbar-item drop"><a routerLink='/contact'>CONTACT</a></li>
          </ul>
        </nav>
      </div>
        <div class="col-md-2" >
          <div class="header__right" >
            <div class="header__search search search__open">
                <a href="#"><i class="fa fa-search"></i></a>
            </div>
            <div class="header__account">
                <a href="#"><i class="fa fa-user"></i></a>
            </div>
            <div class="htc__shopping__cart">
                <a class="cart__menu" href="#"><i class="fa fa-shopping-bag"></i></a>
                <a href="#"><span class="htc__qua">2</span></a>
            </div>
        </div>
        </div>
  
    </div>
  </div>

  <div class="offset__wrapper">
    <!-- Start Search Popap -->
    <div class="search__area">
        <div class="container" >
            <div class="row" >
                <div class="col-md-12" >
                    <div class="search__inner">
                        <form action="#" method="get">
                            <input placeholder="Search here... " type="text">
                            <button type="submit"></button>
                        </form>
                        <div class="search__close__btn">
                            <span class="search__close__btn_icon"><i class="zmdi zmdi-close"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>  
  