<app-header></app-header>
<div class="sub_header">
  <div class="row">
    <div class="col-lg-4 col-md-3 col-sm-4 col-xs-12" style="padding: 0px 0px;">
      <a>
        <img src="../../../assets/images/blog/blog-img/11.jpg" style="width:100%; height: 250px;">
      </a>
    </div>
    <div class="col-lg-8 col-md-6 col-sm-4 col-xs-12" style="background-color: whitesmoke">
      <div class="header_inner" style="text-align:center;">
        <nav class="header-inner" style="display: block;">
            <a class="header_items">
              HOME
            </a>
            <span class="separator" style="padding:0px 10px;">
              <i class="fa fa-angle-right"></i>
            </span>
            <a class="header_items">
              PRODUCT
            </a>
        </nav>
      </div>
    </div>
  </div>
</div>

<section class="product_grid">
  <div class="container">
    <div class="row" style="margin-top:120px;">

        <div class="col-lg-3 col-lg-pull-9 col-md-3 col-md-pull-9 col-sm-12 col-xs-12 smt-40 xmt-40">
            <div class="pro_leftside">
              <div class="grid_range">
                <h4 class="title_line_4">
                  PRICE
                </h4>
              </div>
               <!-- Start Prize Range -->
               <div class="htc-grid-range">
                  <!-- <h4 class="title__line--4">Price</h4> -->
                  <div class="content-shopby">
                      <div class="price_filter s-filter clear">
                          <form action="#" method="GET">
                              <div id="slider-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" >
                                <div class="ui-slider-range ui-widget-header ui-corner-all">
                                  <!-- <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span> -->
                                  <!-- <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span> -->
                                </div>
                              </div>

                              <div class="slider__range--output ">
                                  <div class="price__output--wrap">
                                      <div class="price--output">
                                          <span>Price :</span><input type="text" id="amount" readonly>
                                      </div>
                                      <div class="price--filter">
                                          <a href="#">Filter</a>
                                      </div>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>

              <div class="ht_category">
                <h4 class="title_line_4">
                  CATEGORIES
                </h4>
                <ul class="cat_list" style="padding-left: 0px;">
                  <li>
                    <a>Clothing</a>
                  </li>
                  <li>
                      <a>Bags</a>
                    </li>
                    <li>
                        <a>Shoes</a>
                      </li>
                      <li>
                          <a>Jwellery</a>
                        </li>
                        <li>
                            <a>Gifts</a>
                          </li>
                          <li>
                              <a>Watches</a>
                            </li>
                            <li>
                                <a>Clothing</a>
                              </li>
                              <li>
                                  <a>Clothing</a>
                                </li>
                </ul>
              </div>

              <div class="pro_color">
                <h4 class="title_line_4">COLOR</h4>
                <ul class="color_list">
                  <li class="voilet"><a></a></li>
                  <li class="blue"><a></a></li>
                  <li class="light"><a></a></li>
                  <li class="green"><a></a></li>
                  <li class="pink"><a></a></li>
                  <li class="lpink"><a></a></li>
                </ul>
              </div>

              <div class="pro_size">
                <h4 class="title_line_4">SIZE</h4>
                <ul class="size_list">
                  <li><a>XS</a></li>
                  <li><a>S</a></li>
                  <li><a>M</a></li>
                  <li><a>L</a></li>
                  <li><a>XL</a></li>
                  <li><a>XXl</a></li>
                </ul>
              </div>

              <div class="pro_tags">
                <h4 class="title_line_4">TAGS</h4>
                <ul class="tags_list">
                  <li><a>Clothing</a></li>
                  <li><a> / Food</a></li>
                  <li><a> / Shoes</a></li>
                  <li><a> / Jwellery</a></li>
                  <li><a> / Watch</a></li>
                  <li><a> / Other</a></li>
                </ul>
              </div>

              <div class="pro_compare">
                <h4 class="title_line_4">COMPARE</h4>
                <ul class="compare_list">
                  <li><a>White men's polo<i class="fa fa-trash"></i></a></li>
                  <li><a>Black men's polo<i class="fa fa-trash"></i></a></li>
                  <li><a>T-shirt men's polo<i class="fa fa-trash"></i></a></li>
                  <li><a>White men's polo<i class="fa fa-trash"></i></a></li>
                </ul>
                <ul class="com_btn" style="margin-top: 20px;">
                  <li><a>CLEAR ALL</a></li>
                  <li class="compare"><a>COMPARE</a></li>
                </ul>
              </div>

              <div class="recent_pro">
                <h4 class="title_line_4">BEST SELLER</h4>
                <div class="recent_inner">
                  <div class="best_pro">
                    <div class="best_pro_img" >
                      <a><img src="../../../assets/images/product-2/sm-img-3/1.jpg"></a>
                    </div>
                    <div class="best_pro_details" style="margin-left:20px;">
                      <h2>PRODUCT TITLE HERE</h2>
                      <ul class="best_rating">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                      <ul class="best_pro_prize">
                        <li class="old_prize">$120</li>
                        <li>$110</li>
                      </ul>
                    </div>
                  </div>

                  <div class="best_pro">
                      <div class="best_pro_img" >
                        <a><img src="../../../assets/images/product-2/sm-img-3/2.jpg"></a>
                      </div>
                      <div class="best_pro_details" style="margin-left:20px;">
                        <h2>PRODUCT TITLE HERE</h2>
                        <ul class="best_rating">
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                        </ul>
                        <ul class="best_pro_prize">
                          <li class="old_prize">$120</li>
                          <li>$110</li>
                        </ul>
                      </div>
                    </div>

                    <div class="best_pro">
                        <div class="best_pro_img" >
                          <a><img src="../../../assets/images/product-2/sm-img-3/1.jpg"></a>
                        </div>
                        <div class="best_pro_details" style="margin-left:20px;">
                          <h2>PRODUCT TITLE HERE</h2>
                          <ul class="best_rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                          </ul>
                          <ul class="best_pro_prize">
                            <li class="old_prize">$120</li>
                            <li>$110</li>
                          </ul>
                        </div>
                      </div>


                </div>
              </div>

            </div>
          </div>

      <div class="col-lg-9 col-lg-push-3 col-md-9 col-md-push-3 col-sm-12 col-xs-12">
        <div class="pro_rightside">
          <div class="grid_top">
            <div class="select_options">
              <select class="ht_select">
                <option>Default options</option>
                <option>Default options</option>
                <option>Default options</option>
                <option>Default options</option>
              </select>
              <select class="ht_select">
                <option>Shop By</option>
                <option>Shop By</option>
                <option>Shop By</option>
                <option>Shop By</option>
              </select>
            </div>
            <div class="pro_count">
              <span>Showing 1-12 of 10022 products</span>
            </div>
            <ul class="view_mode">
              <li class="grid_view"><i class="fa fa-th" style="font-size:22px;"></i></li>
              <li class=""><i class="fa fa-th-list" style="font-size:22px;"></i></li>

            </ul>
          </div>
              <section class="pro_cat_area">
                  <div class="container">
                      <div class="row">
                              <div class="col-md-4 col-lg-3 col-sm-4 col-xs-12">
                                      <div class="cat">
                                        <div class="cat_thumb">
                                          <a>
                                              <img src="../../../assets/images/product/1.jpg">
                                          </a>
                                      </div>
                                      <div class="hover_info">
                                          <ul class="pro_action">
                                              <li>
                                                  <a><i class="fa fa-heart"></i></a>
                                              </li>
                                              <li>
                                                  <a><i class="fa fa-shopping-bag"></i></a>
                                              </li>
                                              <li>
                                                  <a><i class="fa fa-random"></i></a>
                                              </li>
                                          </ul>
                                      </div>
                                      <div class="product_inner">
                                          <h4>Dummy Chair Name</h4>
                                          <ul class="pro_prize">
                                              <li class="old_prize">$123</li>
                                              <li>$110</li>
                                          </ul>
                                      </div>
                                      </div>
                              </div>
                              
                              <div class="col-md-4 col-lg-3 col-sm-4 col-xs-12">
                                <div class="cat">
                                  <div class="cat_thumb">
                                    <a>
                                        <img src="../../../assets/images/product/2.jpg">
                                    </a>
                                </div>
                                <div class="hover_info">
                                    <ul class="pro_action">
                                        <li>
                                            <a><i class="fa fa-heart"></i></a>
                                        </li>
                                        <li>
                                            <a><i class="fa fa-shopping-bag"></i></a>
                                        </li>
                                        <li>
                                            <a><i class="fa fa-random"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product_inner">
                                    <h4>Dummy Chair Name</h4>
                                    <ul class="pro_prize">
                                        <li class="old_prize">$123</li>
                                        <li>$110</li>
                                    </ul>
                                </div>
                                </div>
                        </div>

                              <div class="col-md-4 col-lg-3 col-sm-4 col-xs-12">
                                <div class="cat">
                                  <div class="cat_thumb">
                                    <a>
                                        <img src="../../../assets/images/product/3.jpg">
                                    </a>
                                </div>
                                <div class="hover_info">
                                    <ul class="pro_action">
                                        <li>
                                            <a><i class="fa fa-heart"></i></a>
                                        </li>
                                        <li>
                                            <a><i class="fa fa-shopping-bag"></i></a>
                                        </li>
                                        <li>
                                            <a><i class="fa fa-random"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product_inner">
                                    <h4>Dummy Chair Name</h4>
                                    <ul class="pro_prize">
                                        <li class="old_prize">$123</li>
                                        <li>$110</li>
                                    </ul>
                                </div>
                                </div>
                        </div>

                        <div class="col-md-4 col-lg-3 col-sm-4 col-xs-12">
                          <div class="cat">
                            <div class="cat_thumb">
                              <a>
                                  <img src="../../../assets/images/product/4.jpg">
                              </a>
                          </div>
                          <div class="hover_info">
                              <ul class="pro_action">
                                  <li>
                                      <a><i class="fa fa-heart"></i></a>
                                  </li>
                                  <li>
                                      <a><i class="fa fa-shopping-bag"></i></a>
                                  </li>
                                  <li>
                                      <a><i class="fa fa-random"></i></a>
                                  </li>
                              </ul>
                          </div>
                          <div class="product_inner">
                              <h4>Dummy Chair Name</h4>
                              <ul class="pro_prize">
                                  <li class="old_prize">$123</li>
                                  <li>$110</li>
                              </ul>
                          </div>
                          </div>
                  </div>

                  <div class="col-md-4 col-lg-3 col-sm-4 col-xs-12">
                    <div class="cat">
                      <div class="cat_thumb">
                        <a>
                            <img src="../../../assets/images/product/5.jpg">
                        </a>
                    </div>
                    <div class="hover_info">
                        <ul class="pro_action">
                            <li>
                                <a><i class="fa fa-heart"></i></a>
                            </li>
                            <li>
                                <a><i class="fa fa-shopping-bag"></i></a>
                            </li>
                            <li>
                                <a><i class="fa fa-random"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="product_inner">
                        <h4>Dummy Chair Name</h4>
                        <ul class="pro_prize">
                            <li class="old_prize">$123</li>
                            <li>$110</li>
                        </ul>
                    </div>
                    </div>
            </div>

            <div class="col-md-4 col-lg-3 col-sm-4 col-xs-12">
              <div class="cat">
                <div class="cat_thumb">
                  <a>
                      <img src="../../../assets/images/product/6.jpg">
                  </a>
              </div>
              <div class="hover_info">
                  <ul class="pro_action">
                      <li>
                          <a><i class="fa fa-heart"></i></a>
                      </li>
                      <li>
                          <a><i class="fa fa-shopping-bag"></i></a>
                      </li>
                      <li>
                          <a><i class="fa fa-random"></i></a>
                      </li>
                  </ul>
              </div>
              <div class="product_inner">
                  <h4>Dummy Chair Name</h4>
                  <ul class="pro_prize">
                      <li class="old_prize">$123</li>
                      <li>$110</li>
                  </ul>
              </div>
              </div>
      </div>

      <div class="col-md-4 col-lg-3 col-sm-4 col-xs-12">
        <div class="cat">
          <div class="cat_thumb">
            <a>
                <img src="../../../assets/images/product/7.jpg">
            </a>
        </div>
        <div class="hover_info">
            <ul class="pro_action">
                <li>
                    <a><i class="fa fa-heart"></i></a>
                </li>
                <li>
                    <a><i class="fa fa-shopping-bag"></i></a>
                </li>
                <li>
                    <a><i class="fa fa-random"></i></a>
                </li>
            </ul>
        </div>
        <div class="product_inner">
            <h4>Dummy Chair Name</h4>
            <ul class="pro_prize">
                <li class="old_prize">$123</li>
                <li>$110</li>
            </ul>
        </div>
        </div>
      </div>


      <div class="col-md-4 col-lg-3 col-sm-4 col-xs-12">
        <div class="cat">
          <div class="cat_thumb">
            <a>
                <img src="../../../assets/images/product/8.jpg">
            </a>
        </div>
        <div class="hover_info">
            <ul class="pro_action">
                <li>
                    <a><i class="fa fa-heart"></i></a>
                </li>
                <li>
                    <a><i class="fa fa-shopping-bag"></i></a>
                </li>
                <li>
                    <a><i class="fa fa-random"></i></a>
                </li>
            </ul>
        </div>
        <div class="product_inner">
            <h4>Dummy Chair Name</h4>
            <ul class="pro_prize">
                <li class="old_prize">$123</li>
                <li>$110</li>
            </ul>
        </div>
        </div>
      </div>


                      </div>
                  </div>
              </section>

              <div class="row justify-content-center">
                <div class="col-xs-12">
                  <ul class="pagenation">
                    <li>
                      <a><i class="fa fa-angle-left"></i></a>
                    </li>
                    <li>
                        <a>1</a>
                    </li>
                    <li>
                        <a>2</a>
                    </li>
                    <li>
                        <a>20</a>
                    </li>
                    <li>
                        <a><i class="fa fa-angle-right"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
        </div>
      </div>
     


    </div>
  </div>
</section>

<div class="brand">
    <div class="row">
          <div class="col-md-12">
                <ul class="inner_brand">
                    <li>
                        <a>
                            <img src="../../../assets/images/brand/1.png">
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../../assets/images/brand/2.png">
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../../assets/images/brand/3.png">
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../../assets/images/brand/4.png">
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../../assets/images/brand/5.png">
                        </a>
                    </li>
                </ul>
            </div>
    </div>
</div>

<app-footer></app-footer>