<app-header></app-header>
<div class="sub_header">
  <div class="row">
    <div class="col-lg-4 col-md-3 col-sm-4 col-xs-12" style="padding: 0px 0px;">
      <a>
        <img routerLink='/blogdetails' src="../../../assets/images/blog/blog-img/bl.jpg" style="width:100%; height: 250px;">
      </a>
    </div>
    <div class="col-lg-8 col-md-6 col-sm-4 col-xs-12" style="background-color: whitesmoke">
      <div class="header_inner" style="text-align:center;">
        <nav class="header-inner" style="display: block;">
            <a class="header_items">
              HOME
            </a>
            <span class="separator" style="padding:0px 10px;">
              <i class="fa fa-angle-right"></i>
            </span>
            <a class="header_items">
              BLOG
            </a>
        </nav>
      </div>
    </div>
  </div>
</div>

<section class="blog_wrap">
  <div class="container">
      <div class="row" style="margin-top:90px;">
          <div class="col-md-6 col-lg-4 col-sm-6 col-xs-12" >
              <div class="blog_img">
                  <img routerLink='/blogdetails' src="../../../assets/images/blog/blog-img/11.jpg" style="width: 100%;">
              </div>
              <div class="blog_details" >
                  <div class="bl_date">
                      <span>MARCH 22,2019</span>
                  </div>
                  <h2>
                      <a>
                          Lorem ipsum dolor sit amet, consec tetur adipisicing elit
                      </a>
                  </h2>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipisici elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                  <div class="bl_btn">
                      <a routerLink='/blogdetails'>
                          Read More
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 col-sm-6 col-xs-12">
              <div class="blog_img" >
                  <img routerLink='/blogdetails' src="../../../assets/images/blog/blog-img/22.jpg" style="width: 100%;">
              </div>
              <div class="blog_details">
                  <div class="bl_date">
                      <span>MARCH 22,2019</span>
                  </div>
                  <h2>
                      <a>
                          Lorem ipsum dolor sit amet, consec tetur adipisicing elit
                      </a>
                  </h2>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipisici elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                  <div class="bl_btn">
                      <a routerLink='/blogdetails'>
                          Read More
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 col-sm-6 col-xs-12">
              <div class="blog_img">
                  <img routerLink='/blogdetails' src="../../../assets/images/blog/blog-img/33.jpg" style="width: 100%;">
              </div>
              <div class="blog_details">
                  <div class="bl_date">
                      <span>MARCH 22,2019</span>
                  </div>
                  <h2>
                      <a>
                          Lorem ipsum dolor sit amet, consec tetur adipisicing elit
                      </a>
                  </h2>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipisici elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                  <div class="bl_btn">
                      <a routerLink='/blogdetails'>
                          Read More
                      </a>
                  </div>
              </div>
          </div>

          <div class="row" style="margin-top:40px;">
            <div class="col-md-6 col-lg-4 col-sm-6 col-xs-12" >
              <div class="blog_img">
                  <img routerLink='/blogdetails' src="../../../assets/images/blog/blog-img/11.jpg" style="width: 100%;">
              </div>
              <div class="blog_details" >
                  <div class="bl_date">
                      <span>MARCH 22,2019</span>
                  </div>
                  <h2>
                      <a>
                          Lorem ipsum dolor sit amet, consec tetur adipisicing elit
                      </a>
                  </h2>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipisici elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                  <div class="bl_btn">
                      <a routerLink='/blogdetails'>
                          Read More
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 col-sm-6 col-xs-12">
              <div class="blog_img" >
                  <img routerLink='/blogdetails' src="../../../assets/images/blog/blog-img/22.jpg" style="width: 100%;">
              </div>
              <div class="blog_details">
                  <div class="bl_date">
                      <span>MARCH 22,2019</span>
                  </div>
                  <h2>
                      <a>
                          Lorem ipsum dolor sit amet, consec tetur adipisicing elit
                      </a>
                  </h2>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipisici elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                  <div class="bl_btn">
                      <a routerLink='/blogdetails'>
                          Read More
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 col-sm-6 col-xs-12">
              <div class="blog_img">
                  <img routerLink='/blogdetails' src="../../../assets/images/blog/blog-img/33.jpg" style="width: 100%;">
              </div>
              <div class="blog_details">
                  <div class="bl_date">
                      <span>MARCH 22,2019</span>
                  </div>
                  <h2>
                      <a>
                          Lorem ipsum dolor sit amet, consec tetur adipisicing elit
                      </a>
                  </h2>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipisici elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                  <div class="bl_btn">
                      <a routerLink='/blogdetails'>
                          Read More
                      </a>
                  </div>
              </div>
          </div>
          </div>
          
          <div class="row" style="margin-top:40px;">
            <div class="col-md-6 col-lg-4 col-sm-6 col-xs-12" >
              <div class="blog_img">
                  <img routerLink='/blogdetails' src="../../../assets/images/blog/blog-img/11.jpg" style="width: 100%;">
              </div>
              <div class="blog_details" >
                  <div class="bl_date">
                      <span>MARCH 22,2019</span>
                  </div>
                  <h2>
                      <a>
                          Lorem ipsum dolor sit amet, consec tetur adipisicing elit
                      </a>
                  </h2>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipisici elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                  <div class="bl_btn">
                      <a routerLink='/blogdetails'>
                          Read More
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 col-sm-6 col-xs-12">
              <div class="blog_img" >
                  <img routerLink='/blogdetails' src="../../../assets/images/blog/blog-img/22.jpg" style="width: 100%;">
              </div>
              <div class="blog_details">
                  <div class="bl_date">
                      <span>MARCH 22,2019</span>
                  </div>
                  <h2>
                      <a>
                          Lorem ipsum dolor sit amet, consec tetur adipisicing elit
                      </a>
                  </h2>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipisici elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                  <div class="bl_btn">
                      <a routerLink='/blogdetails'>
                          Read More
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 col-sm-6 col-xs-12">
              <div class="blog_img">
                  <img routerLink='/blogdetails' src="../../../assets/images/blog/blog-img/33.jpg" style="width: 100%;">
              </div>
              <div class="blog_details">
                  <div class="bl_date">
                      <span>MARCH 22,2019</span>
                  </div>
                  <h2>
                      <a>
                          Lorem ipsum dolor sit amet, consec tetur adipisicing elit
                      </a>
                  </h2>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipisici elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                  <div class="bl_btn">
                      <a routerLink='/blogdetails'>
                          Read More
                      </a>
                  </div>
              </div>
          </div>
          </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-xs-12">
          <ul class="pagenation">
            <li>
              <a><i class="fa fa-angle-left"></i></a>
            </li>
            <li>
                <a>1</a>
            </li>
            <li>
                <a>2</a>
            </li>
            <li>
              <a>3</a>
            </li>
            <li>
              <a>4</a>
            </li>
            <li>
              <a>...</a>
            </li>   
            <li>
                <a>20</a>
            </li>
            <li>
                <a><i class="fa fa-angle-right"></i></a>
            </li>
          </ul>
        </div>
      </div>
  </div>
</section>

<app-footer></app-footer>

