<app-header></app-header>
<div class="sub_header">
  <div class="row">
    <div class="col-lg-4 col-md-3 col-sm-4 col-xs-12" style="padding: 0px 0px;">
      <a>
        <img src="../../../assets/images/blog/blog-img/11.jpg" style="width:100%; height: 250px;">
      </a>
    </div>
    <div class="col-lg-8 col-md-6 col-sm-4 col-xs-12" style="background-color: whitesmoke">
      <div class="header_inner" style="text-align:center;">
        <nav class="header-inner" style="display: block;">
            <a class="header_items">
              HOME
            </a>
            <span class="separator" style="padding:0px 10px;">
              <i class="fa fa-angle-right"></i>
            </span>
            <a class="header_items">
              SHOPPING CART
            </a>
        </nav>
      </div>
    </div>
  </div>
</div>





<div class="cart_area" style="margin-top: 90px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form action="#">
          <div class="table_content table_resp">
            <table>
              <thead>
                <tr>
                  <th class="pro_img">Products</th>
                  <th class="pro_name">Name of Products</th>
                  <th class="pro_price">Price</th>
                  <th class="pro_qty">Quantity</th>
                  <th class="pro_tot">Total</th>
                  <th class="pro_remove">Remove</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="pro_img">
                    <a>
                      <img src="../../../assets/images/product-2/cart-img/1.jpg" style="width:100%;">
                    </a>
                  </td>
                  <td class="pro_name">
                    <a>New Dresses For Sunday</a>
                    <ul class="pro_prize">
                      <li class="old_prize">$120</li>
                      <li>$90</li>
                    </ul>
                  </td>
                  <td class="pro_price">
                    <span class="amt">$80</span>
                  </td>
                  <td class="pro_qty">
                    <input type="number" value="1">
                  </td>
                  <td class="pro_tot">$120</td>
                  <td class="pro_remove">
                    <a>
                      <i class="fa fa-trash"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                    <td class="pro_img">
                      <a>
                        <img src="../../../assets/images/product-2/cart-img/2.jpg" style="width:100%;">
                      </a>
                    </td>
                    <td class="pro_name">
                      <a>New Dresses For Sunday</a>
                      <ul class="pro_prize">
                        <li class="old_prize">$120</li>
                        <li>$90</li>
                      </ul>
                    </td>
                    <td class="pro_price">
                      <span class="amt">$80</span>
                    </td>
                    <td class="pro_qty">
                      <input type="number" value="1">
                    </td>
                    <td class="pro_tot">$120</td>
                    <td class="pro_remove">
                      <a>
                        <i class="fa fa-trash"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                      <td class="pro_img">
                        <a>
                          <img src="../../../assets/images/product-2/cart-img/3.jpg" style="width:100%;">
                        </a>
                      </td>
                      <td class="pro_name">
                        <a>New Dresses For Sunday</a>
                        <ul class="pro_prize">
                          <li class="old_prize">$120</li>
                          <li>$90</li>
                        </ul>
                      </td>
                      <td class="pro_price">
                        <span class="amt">$80</span>
                      </td>
                      <td class="pro_qty">
                        <input type="number" value="1">
                      </td>
                      <td class="pro_tot">$120</td>
                      <td class="pro_remove">
                        <a>
                          <i class="fa fa-trash"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                        <td class="pro_img">
                          <a>
                            <img src="../../../assets/images/product-2/cart-img/1.jpg" style="width:100%;">
                          </a>
                        </td>
                        <td class="pro_name">
                          <a>New Dresses For Sunday</a>
                          <ul class="pro_prize">
                            <li class="old_prize">$120</li>
                            <li>$90</li>
                          </ul>
                        </td>
                        <td class="pro_price">
                          <span class="amt">$80</span>
                        </td>
                        <td class="pro_qty">
                          <input type="number" value="1">
                        </td>
                        <td class="pro_tot">$120</td>
                        <td class="pro_remove">
                          <a>
                            <i class="fa fa-trash"></i>
                          </a>
                        </td>
                      </tr>
              </tbody>
            </table>
          </div>

          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="cart_inner_btns">
                  <div class="btn_cart">
                    <a>Continue Shopping</a>
                  </div>
                  <div class="btn_cart checkout_btn">
                    <a>Update</a>
                    <a>checkout</a>
                  </div>
                </div>
              </div>

          </div>

          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12" style="width:100%;">
              <div class="coupon_code">
                <span>enter your discount code</span>
                <div class="coupon_box">
                  <input type="text" style="width:100%;">
                  <div class="cp_btn">
                    <a>enter</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="cart_total">
                <h6>cart total</h6>
                <div class="cart_list">
                  <ul class="cart_desc">
                    <li>cart total</li>
                    <li>tax</li>
                    <li>shipping</li>
                  </ul>
                  <ul class="cart_price">
                    <li>$908</li>
                    <li>$5</li>
                    <li>$9</li>
                  </ul>
                </div>
                <div class="cart_tot">
                  <span>order total</span>
                  <span>$922</span>
                </div>
                <ul class="pay_btn">
                  <li class="active">
                    <a>payment</a>
                  </li>
                  <li style="margin-top:20px;">
                    <a>continue shopping</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>



        </form>
      </div>
    </div>
  </div>
</div>


<div class="brand">
    <div class="row">
          <div class="col-md-12">
                <ul class="inner_brand">
                    <li>
                        <a>
                            <img src="../../../assets/images/brand/1.png">
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../../assets/images/brand/2.png">
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../../assets/images/brand/3.png">
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../../assets/images/brand/4.png">
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../../assets/images/brand/5.png">
                        </a>
                    </li>
                </ul>
            </div>
    </div>
  </div>
  
  <app-footer></app-footer>
  


