   <app-header></app-header>
<div class="sub_header">
  <div class="row">
    <div class="col-lg-4 col-md-3 col-sm-4 col-xs-12" style="padding: 0px 0px;">
      <a>
        <img src="../../../assets/images/blog/blog-img/11.jpg" style="width:100%; height: 250px;">
      </a>
    </div>
    <div class="col-lg-8 col-md-6 col-sm-4 col-xs-12" style="background-color: whitesmoke">
      <div class="header_inner" style="text-align:center;">
        <nav class="header-inner" style="display: block;">
            <a class="header_items">
              HOME
            </a>
            <span class="separator" style="padding:0px 10px;">
              <i class="fa fa-angle-right"></i>
            </span>
            <a class="header_items">
              PRODUCT
            </a>
            <span class="separator" style="padding:0px 10px;">
              <i class="fa fa-angle-right"></i>
            </span>
            <a class="header_items">
              PRODUCT DETAILS
            </a>
        </nav>
      </div>
    </div>
  </div>
</div>

<section class="pro_details">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
        <div class="full_img">
          <img src="../../../assets/images/product-2/big-img/1.jpg" style="width:100%;">
        </div>
      </div>

      <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12 smt-40 xmt-40">
        <div class="pro_details_content">
          <h2>jean shirt to sassy girl</h2>
          <h6>
            Model: <span>MNG001</span>
          </h6>
          <ul class="rating">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li class="old"><i class="fa fa-star"></i></li>
              <li class="old"><i class="fa fa-star"></i></li>
          </ul>
          <ul  class="pro_prize">
              <li class="old_prize">$82.5</li>
              <li>$75.2</li>
          </ul>

          <p class="pro_info">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</p>

          <div class="pro_desc">
            <div class="sin_desc">
              <p><span>Availability:</span> In Stock</p>
            </div>
          </div>
          <div class="sin_desc_col">
            <p><span>Color:</span></p>
            <ul class="pro_color">
              <li class="red"><a></a></li>
              <li class="green"><a></a></li>
              <li class="blue"><a></a></li>
              <li class="yellow"><a></a></li>
            </ul>
            <div class="pro_more">
              <a>more</a>
            </div>
          </div>
          <div class="sin_desc_size">
            <p><span>Size:</span></p>
            <select class="select_size">
              <option>xs</option>
              <option>s</option>
              <option>m</option>
              <option>l</option>
              <option>xl</option>
              <option>xxl</option>

            </select>
          </div>

          <div class="sin_desc_cat">
            <p><span>Categories:</span></p>
            <ul class="pro_cat_list">
              <li>Fashion,</li>
              <li>Accessories,</li>
              <li>Men,</li>
              <li> Women,</li>
              <li> Kid,</li>
              <li> Mobile</li>
            </ul>
          </div>
          
          <div class="sin_desc_pro">
              <p><span>Product:</span></p>
              <ul class="pro_cat_list">
                  <li>Fashion,</li>
                  <li>Accessories,</li>
                  <li>Men,</li>
                  <li> Women,</li>
                  <li> Kid,</li>
                  <li> Mobile</li>
                </ul>
            </div>

            <div class="row">
              <div class="col-md-8 col-sm-12">
                <div class="card p-3 mb-3 shadow bg-white rounded bid">
                  <h6 style="margin-left:35px; margin-top: 20px; font-size: 16px;">
                    Current bid: <span style="margin-left:8px;"><b>US $56.00</b></span>
                    <span><a style="margin-left:70px; font-size: 14px;" routerLink="/bid">[ 10 bids ]</a></span>
                  </h6>
                  <div class="bid_btn" style="display: flex; justify-content: center; margin-top: 20px;">
                    <input class="" type="text" style="width:50%;" ><a>Place Bid</a>
                  </div>
                  <p style="font-size:12px; margin-left:37px; margin-top:0px;">Enter US $57.00 or more</p>
                </div>
              </div>
              <label class="or" style=" margin-top:18px; margin-left: 15px; margin-right:15px;">OR</label>
              <div class="col-md-3">
                <div class="bargain_btn">
                  <a routerLink="/bargain">Make Offer</a>
                </div>
              <label class="or" style="margin-top:18px; margin-left: 65px; margin-bottom: 15px;">OR</label>
              <div class="bargain_btn">
                <a routerLink="/cart">Add to Cart</a>
              </div>
              </div>
            </div>


          <div class="sin_desc_share" >
            <p><span>Share Link:</span></p>
            <ul class="pro_share">
              <li>
                <a><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                  <a><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a><i class="fa fa-instagram"></i></a>
                  </li>
                  <li>
                      <a><i class="fa fa-google"></i></a>
                    </li>
            </ul>
          </div> 

        </div>
      </div>
    </div>
  </div>
</section>

<section class="pro_descp" style="margin-top:70px;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12" style="width:100%;">
        <ul class="pro_tabs" role="tablist">
          <li role="presentation" class="desc">
            <a role="tab" data-toggle="tab" class="desc">Description</a>
          </li>
          <li role="presentation" class="desc">
              <a role="tab" data-toggle="tab" class="review">Review</a>
            </li>
            <li role="presentation" class="desc">
                <a role="tab" data-toggle="tab" class="shipping">Shipping</a>
              </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="pro_content">
          <p>Formfitting clothing is all about a sweet spot. That elusive place where an item is tight but not clingy, sexy but not cloying, cool but not over the top. Alexandra Alvarez’s label, Alix, hits that mark with its range of comfortable, minimal, and neutral-hued bodysuits.</p>

          <h4 class="pro_title">
            Description
          </h4>

          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem</p>

          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>

          <h4 class="pro_title">
              Standard Featured
          </h4>

          <p>em ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis </p>
          
        </div>
      </div>
    </div>
  </div>
</section>


<div class="text-center" style="margin-top:40px;">
    <h1>NEW ARRIVALS</h1>
    <p style="font-size:22px;"><small>But I must explain to you how all this mistaken idea</small> </p>
</div>

    <!-- Product cat area -->
    <section class="pro_cat_area">
        <div class="container">
            <div class="row">
                    <div class="col-md-4 col-lg-3 col-sm-4 col-xs-12">
                        <div class="cat">
                            <div class="cat_thumb">
                                <a>
                                    <img src="../../../assets/images/product/1.jpg">
                                </a>
                            </div>
                            <div class="hover_info">
                                <ul class="pro_action">
                                    <li>
                                        <a><i class="fa fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a><i class="fa fa-shopping-bag"></i></a>
                                    </li>
                                    <li>
                                        <a><i class="fa fa-random"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product_inner">
                                <h4>Dummy Chair Name</h4>
                                <ul class="pro_prize">
                                    <li class="old_prize">$123</li>
                                    <li>$110</li>
                                </ul>
                            </div>
                        </div>    
                    </div>
                    <div class="col-md-4 col-lg-3 col-sm-4 col-xs-12">
                            <div class="cat">
                                <div class="cat_thumb">
                                    <a>
                                        <img src="../../../assets/images/product/2.jpg">
                                    </a>
                                </div>
                                <div class="hover_info">
                                    <ul class="pro_action">
                                        <li>
                                            <a><i class="fa fa-heart"></i></a>
                                        </li>
                                        <li>
                                            <a><i class="fa fa-shopping-bag"></i></a>
                                        </li>
                                        <li>
                                            <a><i class="fa fa-random"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product_inner">
                                    <h4>Dummy Chair Name</h4>
                                    <ul class="pro_prize">
                                        <li class="old_prize">$123</li>
                                        <li>$110</li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                    <div class="col-md-4 col-lg-3 col-sm-4 col-xs-12">
                            <div class="cat">
                                <div class="cat_thumb">
                                    <a>
                                        <img src="../../../assets/images/product/3.jpg">
                                    </a>
                                </div>
                                <div class="hover_info">
                                    <ul class="pro_action">
                                        <li>
                                            <a><i class="fa fa-heart"></i></a>
                                        </li>
                                        <li>
                                            <a><i class="fa fa-shopping-bag"></i></a>
                                        </li>
                                        <li>
                                            <a><i class="fa fa-random"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product_inner">
                                    <h4>Dummy Chair Name</h4>
                                    <ul class="pro_prize">
                                        <li class="old_prize">$123</li>
                                        <li>$110</li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                    <div class="col-md-4 col-lg-3 col-sm-4 col-xs-12">
                            <div class="cat">
                                <div class="cat_thumb">
                                    <a>
                                        <img src="../../../assets/images/product/4.jpg">
                                    </a>
                                </div>
                                <div class="hover_info">
                                    <ul class="pro_action">
                                        <li>
                                            <a><i class="fa fa-heart"></i></a>
                                        </li>
                                        <li>
                                            <a><i class="fa fa-shopping-bag"></i></a>
                                        </li>
                                        <li>
                                            <a><i class="fa fa-random"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product_inner">
                                    <h4>Dummy Chair Name</h4>
                                    <ul class="pro_prize">
                                        <li class="old_prize">$123</li>
                                        <li>$110</li>
                                    </ul>
                                </div>
                            </div>
                    </div>
            </div>
        </div>
    </section>

    <div class="brand">
        <div class="row">
              <div class="col-md-12">
                    <ul class="inner_brand">
                        <li>
                            <a>
                                <img src="../../../assets/images/brand/1.png">
                            </a>
                        </li>
                        <li>
                            <a>
                                <img src="../../../assets/images/brand/2.png">
                            </a>
                        </li>
                        <li>
                            <a>
                                <img src="../../../assets/images/brand/3.png">
                            </a>
                        </li>
                        <li>
                            <a>
                                <img src="../../../assets/images/brand/4.png">
                            </a>
                        </li>
                        <li>
                            <a>
                                <img src="../../../assets/images/brand/5.png">
                            </a>
                        </li>
                    </ul>
                </div>
        </div>
    </div>

<app-footer></app-footer>










